<div class="container">

<div class="row" >

    <%= render "devise/shared/error_messages", resource: resource %>

</div>

  <div class="row" style="
    padding: 30px;
">



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "edit_user col-lg-7 md-8 xs-8" , style: "
margin: 0 auto;
text-align: center;
background: white;
padding: 20px 30px;
border-radius: 15px;
" }) do |f| %>



<h2 style="
    text-align: center;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
">My Profile</h2>
  

  <div class="field" style="
    margin-bottom: 10px;
">



<%= f.label :email , style: "
font-size: 14px;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
text-align: left;
padding-left: 30px;
"%>


    <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style: "border: 1px solid;padding: 0px 48px 0 30px;font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;background: white;color: #616161 !important;font-size: 14px;" %>
    </div>
    </div>



    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>



  <div class="field" style="
    text-align: left;
">






<%= f.label :password, style: "
font-size: 14px;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
text-align: left;
padding-left: 30px;
" %> <i style="
font-size: 14px;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
text-align: left;
padding-left: 30px;
">(leave blank if you don't want to change it)</i>




    <div class="form-group" style="
    margin-top: 2px;
    margin-bottom: 2px;
">



<%= f.password_field :password, autocomplete: "new-password", class: "form-control", style: "border: 1px solid;padding: 0px 48px 0 30px;font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;background: white;color: #616161 !important;font-size: 14px;" %>



</div>
      


 

<% if @minimum_password_length %>

      <em style="
    font-size: 14px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    text-align: left;
    padding-left: 30px;
"> <%= @minimum_password_length %> characters minimum</em>
<% end %>
  </div>

  <div class="field" style="
    text-align: left;
">



<%= f.label :password_confirmation , style: "
padding-left: 30px;
font-size: 14px;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
" %>

    <div class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", style: "border: 1px solid;padding: 0px 48px 0 30px;font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;background: white;color: #616161 !important;font-size: 14px;" %>

</div>
  </div>

  <div class="field" style="
    text-align: left;
">


<%= f.label :current_password, style: "
text-align: left;
padding-left: 30px;
font-size: 14px;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
" %> <i style="padding-left: 30px;">(we need your current password to confirm your changes)</i>


    
    <div class="form-group" style="
    margin-top: 2px;
">
<%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", style: "border: 1px solid;padding: 0px 48px 0 30px;font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;background: white;color: #616161 !important;font-size: 14px;" %>

</div>
  </div>

  <div class="actions" style="
    text-align: left;
">
<%= f.submit "Update", style: "    border: 1px solid #0c3059;
padding: 15px 10px;
color: white;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
border-radius: 45px;
text-align: center !important;
display: inline-block;
width: 120px;
font-size: 14px;
background: #0c3059;" %>

  </div>


<% end %>



</div>



























<div class="row" style="
    padding: 0 30px;
">














<div class="button_to edit_user col-lg-7 md-8 xs-8" style="
    margin: 0 auto;
    text-align: center;
    background: white;
    padding: 20px 30px;
    border-radius: 15px;
">






<h3 style="
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
">Cancel my account</h3><img src="https://cdn-0.emojis.wiki/emoji-pics/facebook/pleading-face-facebook.png" style="
    width: 60px;
    height: 60px;
">


<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, style:     "border: 1px solid #0c3059;
color: white;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
border-radius: 45px;
text-align: center !important;
display: inline-block;
width: 166px;
font-size: 14px;
background: #0c3059;
padding: 15px 10px;     margin-top: 10px;" %>


</div></div>










<div class="row" style="padding: 0 30px;margin-top: 30px;padding-bottom: 30px;">

<div class="col-lg-7 md-8 xs-8" style="
    margin: 0 auto;
    text-align: left;
    background: white;
    padding: 8px 9px;
    border-radius: 84px;
">



<%= link_to :back, style: "border: 1px solid #0c3059;
color: white;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
border-radius: 45px;
text-align: center !important;
display: inline-block;
width: 120px;
font-size: 14px;
background: #0c3059;
padding: 15px 10px;
margin-top: 0px; max-height: 50px;" do %>
  
    <div style="
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 8px;
  ">
  <svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400" viewBox="0, 0, 400,400" style="
    width: 100%;
    height: 100%;
    fill: white;
  "><g id="svgg" style="
  "><path id="path0" d="M163.413 29.302 C 155.888 31.411,151.863 35.172,77.968 109.143 C -5.837 193.035,0.391 185.741,0.391 200.000 C 0.391 207.114,0.644 208.722,2.300 212.109 C 4.557 216.725,151.138 364.316,156.825 367.699 C 178.101 380.353,204.680 361.738,199.256 337.983 C 197.223 329.081,196.583 328.342,151.317 282.672 C 107.207 238.166,103.306 234.650,93.682 230.709 C 90.334 229.338,94.404 229.286,234.375 228.906 L 378.516 228.516 382.949 226.437 C 407.626 214.869,404.842 179.160,378.722 172.207 C 375.268 171.288,351.915 171.111,232.813 171.102 L 91.016 171.093 95.703 168.859 C 103.890 164.957,108.859 160.390,152.068 117.045 C 197.092 71.878,197.241 71.706,199.210 62.172 C 203.483 41.494,183.941 23.550,163.413 29.302 " stroke="none" fill="#000000" fill-rule="evenodd" style="
    fill: white;
  "></path></g></svg></div>
<p style="color: white;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;font-size: 14px;     display: inline-block;
margin: 0;">Back</p>
<% end %>

</div>


</div>

</div>