<form  class="shadow-lg uppanel" action="/articles" accept-charset="UTF-8"  method="get">
<div class="input-group">
  <div class="form-outline" style="height: 100%;">
    <%= text_field_tag :query, params[:query], class:"form-control"%>
    <label class="form-label" for="form1" style="display: none;">Search</label>
  </div>
  <div class="searchsubmit">
    <%= submit_tag "", name: nil %>
      <i class="fas fa-search"></i>
    </div>
</div>

<div  class="merchantfilter">
<div class="form-check  d-inline-block merchcheckrb">
  <%= ad_type_radio_button('one') %>
  <%= label_tag :contactmethod, 'Name', :value => 'one', class: "form-check-label", for: "flexRadioDefault2" %>
</div>

<% if @ad_type = 'one' %>
  <div class="desc">
    <div class="form-check d-inline-block w-auto h-100 merchk">
      <%= check_box_tag :contactmethod, 'Email', :value => 'email', class: 'form-check-input d-inline-block' %>
      <%= label_tag :contactmethod, 'Phone', :checked =>  ad_type_radio_button("email"), :class => 'form-check-label' %> 
    </div>
    <div class="form-check d-inline-block merchw">
      <%= check_box_tag :contactmethod, 'Website', :value => 'email', :checked =>  ad_type_radio_button("email"), :class => 'form-check-input d-inline-block' %>
      <%= label_tag :contactmethod, 'Phone', :checked =>  ad_type_radio_button("email"), :class => 'form-check-label' %> 
    </div>
  </div>
<% end %>

<div class="divide"></div>
  <div class="form-check  d-inline-block phonecheck">
    <%= ad_type_radio_button('two')%>
    <%= label_tag :contactmethod, 'Phone', :value => 'one', class: "form-check-label", for: "flexRadioDefault2" %>
  </div>
  <div class="divide"></div>
  <div class="form-check  d-inline-block websitecheck">
    <%= ad_type_radio_button('two')%>
    <%= label_tag :contactmethod, 'Website', :value => 'three', class: "form-check-label", for: "flexRadioDefault2" %>
  </div>
</div>
  <label value="one" class="form-check-label searchlabel" for="flexRadioDefault2">Filters: </label> 
</form>