<form  class="shadow-lg uppanel" action="/articles" accept-charset="UTF-8"  method="get">
<div class="input-group">
  <div class="form-outline" style="height: 100%;">
    <%= text_field_tag :query, params[:query], class:"form-control"%>
    <label class="form-label" for="form1" style="display: none;">Search</label>
  </div>
  <div class="searchsubmit">
    <%= submit_tag "", name: nil %>
      <i class="fas fa-search"></i>
    </div>
</div>

<div  class="merchantfilter">
<div class="form-check  d-inline-block merchcheckrb">
  <%= ad_type_radio_button('name') %>
  <%= label_tag :ad_type, 'Name', :value => 'name', class: "form-check-label", for: "ad_type_name" %>
</div>

  

<div class="divide"></div>
  <div class="form-check  d-inline-block phonecheck">
    <%= ad_type_radio_button('phone')%>
    <%= label_tag :ad_type, 'Phone', :value => 'phone', class: "form-check-label", for: "ad_type_phone" %>
  </div>
  <div class="divide"></div>
  <div class="form-check  d-inline-block websitecheck">
    <%= ad_type_radio_button('website')%>
    <%= label_tag :ad_type, 'Website', :value => 'website', class: "form-check-label", for: "ad_type_website" %>
  </div>
</div>
  <label value="one" class="form-check-label searchlabel">Filters: </label> 
</form>