
<div id="merchantspage">
  <h1>Merchant List</h1>
  <%= render "articles/searchmerchants" %>


  <div class="shadow-lg merchcontainer">
    <table id="bands" class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Street</th>
          <th>Country Code</th>
          <th>Extra</th>
          <% if current_user.role[:name] != 'user' %>
          <th>Options</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td>
                <%= link_to article.name, article %>


                <% if (article.name.empty?) %>
               
                <%= link_to article.name do %>
                  missing name
                  <% end %>
              <% end %>
            </td>
            <td>
                <%= article.city %>
            </td>
            <td>
              <%= article.street %></a>
            </td>
            <td>
              <div class="merchtablecountry"><div class="merccountryicon">
              <%= show_svg('countries/GB.svg') %>
              </div>
              <div class="merccountrytxt">
                <p> <%= article.country %></p>
              </div>
            </td>
            <td>
              <ul class="merchantextra">
                <li>
                  <div class="mextraphone">
                    <div class="extraicon">
                    <%= show_svg('phone.svg') %>
                    </div>
                    <div class="mextratxt">
                      <p>
                        <% if (article.extra['phone'].nil? && article.extra['contact_website'].nil? ) %>
                          missing number
                        <% else %>
                          <%= article.extra['phone'] %> <%= article.extra['contact_website'] %> 
                        <% end %>
                      </p>
                    </div>
                  </div>
                </li>
                <li class="mextrwebsite">
                  <div class="extrwebsicon">
                    <div class="xwbicon">
                    <%= show_svg('website.svg') %>
                    </div>
                    <div class="xtxtbicon">
                      <p>
                      <% if (article.extra['website'].nil?) %>
                        missing website
                      <% else %>
                      <%= article.extra['website'] %>
                      <% end %>
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </td>
            <% if current_user.role[:name] != 'user' %>
            <td>
              <ul class="merchtableoption">
              <% if current_user.role[:name] == 'moderator' || current_user.role[:name] == 'admin' %> 
              
              <li class="merchtableedit p-0" style="padding: 0;">
              <%= link_to edit_article_path(article), style: "width: 100%;height: 41px;display: inline-block;" do %>
                  <div class="merchoptionedcont">
                    <div class="merchedicon">
                    <%= show_svg('edit.svg') %>
                    </div>
                    <div class="merchedittxt">
                      <p>Edit</p>
                    </div>
                  </div>
                  <% end %>
                </li>
                <% end %>

                <% if current_user.role[:name] == 'admin' %> 
                <li class="merchtabledelete" style="padding: 0;">
                <%= link_to(article, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "delete", style: "color: #e62719; width: 100%;
                height: 41px;
                display: inline-block;") do %>
                      
                  <div class="merchoptdeletecont" >
                    <div class="merchdeleticon">
                    <%= show_svg('garbage.svg') %>
                    </div>
                    <div class="merchdeletetxt">
                   Delete
                     
                    </div>
                  </div>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="merchcontfooter">
      <%= will_paginate @articles %>
    </div>
  </div>

  <div class="uplodmerchfile">
    <div class="shadow-lg uplfilecontainer">
    <%= form_tag import_companies_path, class:"form-inline my-2 my-lg-0", :html => { :multipart => true},:id => 'uploadfileform' , :remote => true  do %>
      <%= file_field_tag :file, class:"form-control mr-sm-2 uploadmerchinpfile" %>
      <%= submit_tag "Upload Companies", class:"btn btn-outline-success my-2 my-sm-0 uploadmercfilesubmitbtn" %>
    <% end %>
    </div>
  </div>

 <!-- <div class="shadow-lg plusmenumerch">
    <div class="plsmenuicon">
      <!-- svg6 -->
    </div>
  </div>
  -->
</div>

<%= javascript_include_tag 'application' %>