<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0" style="padding: 1rem 2rem;background-color: #0d3058 !important;">
<%= link_to root_path, class:"navbar-brand navbar-brand", style: "font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;font-size: 14px;font-weight: bold;border-radius: 100px;padding-left: 17px;padding-right: 17px;" do %>
  <svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400" viewBox="0, 0, 400,400" style="
  width: 33px;
  height: 33px;
  margin-right: 10px;
  display: inline-block;
"><g id="svgg"><path id="path0" d="M189.453 1.056 C 179.747 4.265,181.633 2.506,93.129 90.895 C -4.717 188.615,0.000 183.089,0.000 200.000 C -0.000 220.899,13.978 235.372,35.931 237.203 L 42.112 237.718 42.364 301.476 C 42.611 363.972,42.649 365.320,44.252 369.549 C 50.097 384.968,59.857 394.493,74.165 398.740 C 81.335 400.869,152.507 400.609,156.062 398.442 C 162.005 394.818,161.712 397.735,161.720 342.188 C 161.729 283.549,161.750 283.409,171.705 277.557 L 175.391 275.391 200.061 275.391 L 224.732 275.391 228.577 277.762 C 238.304 283.762,238.262 283.484,238.273 342.812 C 238.282 395.512,238.125 393.505,242.566 397.656 L 244.656 399.609 282.254 399.827 C 307.433 399.972,321.221 399.760,323.998 399.183 C 334.782 396.945,347.245 387.446,352.151 377.725 C 357.660 366.809,357.343 371.252,357.629 301.074 L 357.889 237.695 364.296 237.142 C 386.424 235.234,399.609 221.366,399.609 200.000 C 399.609 182.153,408.103 192.160,307.971 92.029 C 208.635 -7.308,217.813 0.583,201.172 0.214 C 195.648 0.091,191.462 0.392,189.453 1.056 " stroke="none" fill="#000000" fill-rule="evenodd" style="
  fill: #ffffff;
"></path></g></svg><p style="
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  height: 100%;
  line-height: 43px;
"> Merchant List Home</p>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="    width: 100%;
    display: inline-block;">

      <% if user_signed_in? %>
 
      <li class="nav-item d-inline-block">
      <%= link_to new_article_path, class:"nav-link navbar-brand", style: "font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;font-size: 14px;font-weight: bold;border-radius: 100px;padding-left: 17px;padding-right: 17px;" do %>
      <svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400" viewBox="0, 0, 400,400" style="
            width: 33px;
            height: 33px;
            margin-right: 10px;
            display: inline-block;
        "><g id="svgg"><path id="path0" d="M169.115 1.150 C 158.381 3.487,149.561 10.362,146.027 19.146 L 144.144 23.828 143.752 74.219 L 143.359 124.609 141.291 129.022 C 134.300 143.933,131.653 144.531,72.655 144.531 C 23.173 144.531,23.977 144.464,14.634 149.410 C 9.174 152.300,5.201 156.539,2.449 162.406 L 0.391 166.797 0.403 199.219 C 0.419 237.296,1.318 241.792,10.539 249.888 C 18.522 256.897,19.740 257.031,75.505 257.031 C 128.933 257.031,127.755 256.902,134.953 263.537 C 143.689 271.590,143.750 272.024,143.750 326.172 C 143.750 356.316,144.037 372.374,144.626 375.157 C 146.831 385.581,152.743 393.753,160.816 397.538 L 165.234 399.609 196.094 399.845 C 229.683 400.102,230.093 400.062,239.528 395.630 C 246.192 392.500,251.092 387.841,253.833 382.031 L 255.859 377.734 256.276 327.344 C 256.700 275.953,256.776 274.731,259.825 269.826 C 267.645 257.246,268.638 257.052,325.278 257.041 C 364.555 257.033,371.951 256.852,376.003 255.802 C 386.411 253.105,393.099 248.071,397.076 239.943 L 399.609 234.766 399.866 204.297 C 400.202 164.414,398.693 157.970,387.162 150.036 C 379.497 144.762,382.050 144.995,326.953 144.547 L 276.953 144.141 272.484 142.046 C 266.670 139.321,261.508 133.958,259.250 128.298 C 257.492 123.889,257.461 123.238,256.996 80.469 C 256.507 35.400,256.117 29.900,252.735 20.315 C 249.693 11.693,242.975 4.409,235.480 1.604 C 230.135 -0.395,177.858 -0.753,169.115 1.150 " stroke="none" fill="#000000" fill-rule="evenodd" style="
            fill: white;
        "></path></g></svg><p style="
            font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
            font-size: 14px;
            display: inline-block;
            margin: 0;
            height: 100%;
            line-height: 43px;
        ">New Merchant</p>
        <%  end  %>
      </li>
      <li class="nav-item d-inline-block" style="   position: relative;
      float: right;
      display: inline-block;">
      <%= link_to destroy_user_session_path, :method => :delete, class:"nav-link navbar-brand", style: "border-radius: 100px;font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;font-size: 14px;font-weight: bold;padding-left: 17px;padding-right: 17px;" do %>
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400" viewBox="0, 0, 400,400" style="
        width: 33px;
        height: 33px;
        margin-right: 10px;
        display: inline-block;
    "><g id="svgg"><path id="path0" d="M57.549 37.992 C 29.754 43.954,6.983 66.911,1.228 94.769 C -0.629 103.763,-0.629 296.237,1.228 305.231 C 7.035 333.344,29.937 356.246,58.051 362.053 C 68.333 364.177,157.633 363.871,160.389 361.703 C 165.218 357.905,165.553 336.556,160.846 332.626 L 158.262 330.469 116.045 330.445 C 59.720 330.412,57.272 329.982,45.286 317.996 C 32.369 305.079,32.861 309.750,32.861 200.000 C 32.861 90.250,32.369 94.921,45.286 82.004 C 57.274 70.016,59.713 69.588,116.106 69.555 C 157.243 69.532,158.437 69.489,160.378 67.962 C 165.366 64.039,165.485 42.739,160.544 38.477 L 158.507 36.719 110.699 36.782 C 71.817 36.834,61.893 37.060,57.549 37.992 M239.200 45.420 C 235.614 46.453,230.257 52.030,229.086 55.950 C 228.383 58.301,228.125 69.279,228.125 96.770 L 228.125 134.375 169.506 134.375 C 105.448 134.375,107.839 134.212,102.831 138.909 C 97.493 143.914,97.692 141.563,97.673 199.830 C 97.655 257.247,97.522 255.473,102.190 260.450 C 107.233 265.828,104.120 265.589,169.336 265.608 L 228.125 265.625 228.125 303.230 C 228.125 345.313,228.128 345.345,233.304 350.527 C 237.910 355.141,243.492 356.477,250.391 354.618 C 254.324 353.558,395.775 212.889,398.457 207.371 C 400.489 203.188,400.489 196.812,398.457 192.629 C 395.775 187.111,254.324 46.442,250.391 45.382 C 246.675 44.381,242.762 44.394,239.200 45.420 " stroke="none" fill="#000000" fill-rule="evenodd" style="
        fill: white;
    "></path></g></svg><p style="
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
        font-size: 14px;
        display: inline-block;
        margin: 0;
        height: 100%;
        line-height: 43px;
    ">Log Out</p>
        <% end %>
      </li>
      <li class="nav-item d-inline-block">
      <%= link_to edit_user_registration_path, class:"nav-link navbar-brand", style: "border-radius: 100px;font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;font-size: 14px;font-weight: bold;padding-left: 17px;padding-right: 17px;" do %>
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400" viewBox="0, 0, 400,400" style="
    width: 36px;
    height: 36px;
    margin-right: 10px;
    display: inline-block;
"><g id="svgg"><path id="path0" d="M178.906 34.473 C 47.051 47.800,-35.658 186.378,14.600 309.766 C 23.152 330.762,46.094 367.079,46.094 359.620 C 46.094 333.715,81.312 300.042,123.151 285.945 L 133.315 282.520 138.728 286.869 C 175.846 316.691,227.093 316.361,262.467 286.073 L 265.169 283.759 273.014 286.465 C 315.426 301.094,346.137 331.446,348.985 361.550 C 349.548 367.498,349.316 367.570,355.969 359.375 C 421.117 279.115,413.578 160.725,338.772 89.303 C 295.913 48.383,237.953 28.504,178.906 34.473 M209.123 108.640 C 261.346 115.712,293.116 178.724,271.493 232.346 C 244.893 298.308,163.374 302.225,131.679 239.063 C 100.545 177.019,146.208 100.120,209.123 108.640 " stroke="none" fill="#000000" fill-rule="evenodd" style="
    fill: white;
"></path></g></svg><p style="
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: inline-block;
    margin: 0;
    height: 100%;
    line-height: 43px;
">My Profile</p>
        <% end %>
      </li>

      <% else %>

      <li class="nav-item">
      <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to 'Sign In', new_user_session_path, class:"nav-link" %>
      </li>
      <% end %>

    </ul>
  </div>
</nav>
